.header-container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  width: 100%; 
  flex-direction: column;
}

.logo{
  display: flex;
  background-color: black;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.first-infos{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 67%;
}

.title{
  font-family: 'Gotham-bold';
  font-size: 35px;
  width: 30%;
  margin-top: 60px;
  margin-bottom: 20px;
}

.black-bar{
  background-color: black;
  width: 80px;
  height: 8px;
  margin-bottom: 20px;
}

.subtitle{
  font-family: 'Gotham-book';
  font-size: 15px;
  text-align: justify;
  line-height: 1.5;
}

